Source: ros-rolling-urdfdom-py
Section: misc
Priority: optional
Maintainer: Chris Lalancette <clalancette@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ros-rolling-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: http://wiki.ros.org/urdfdom_py
Standards-Version: 3.9.2

Package: ros-rolling-urdfdom-py
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, python3-lxml, python3-yaml, ros-rolling-rclpy, ros-rolling-ros-workspace
Description: Python implementation of the URDF parser.
